.container {
	width:100%;
	max-width:$global-width;
	margin:0 auto;
}

.container--wide {
	max-width:$global-width*1.2;
	margin:0 auto;
}

.row {
	width:100%;
	display:flex;
	flex-wrap:wrap;	

	&--collapse > .column {
		padding-left:0!important;
		padding-right:0!important;
	}

	&--nowrap {
		flex-wrap:nowrap;
	}

	// handle horizontal alignment

	&--center {
		justify-content:center;
	}

	&--justified {
		justify-content:space-between;
	}

	&--spaced {
		justify-content:space-around;
	}

	&--end {
		justify-content:flex-end;
	}

	// handle vertical alignment

	&--middle {
		align-items:center;
	}

	&--bottom {
		align-items:flex-end;
	}

	&--top {
		align-items:flex-start;
	}

}

ul.row {
	list-style:none;
	padding:0;
	margin:0;
}

.column {
	padding-left:$global-padding/2;
	padding-right:$global-padding/2;
	margin:0;
	flex-basis:auto;
}

@for $i from 1 through 12 {

	.column-m-#{$i} {
		flex-basis:100% / 12 * $i;	
	} 

	.column-m-order-#{$i} {
		flex-order:#{$i};
	}

}

@media (min-width:$grid-break-point-tablet){

	@for $i from 1 through 12 {

		.column-t-#{$i} {
			flex-basis:100% / 12 * $i;
		} 

		.column-t-order-#{$i} {
			flex-order:#{$i};
		}	

	}

}

@media (min-width:$grid-break-point-desktop){

	@for $i from 1 through 12 {

		.column-d-#{$i} {
			flex-basis:100% / 12 * $i;
		} 

		.column-d-order-#{$i} {			
			flex-order:#{$i};
		}		

	}
	
}


// content

.content {
	background:$light-gray;
	padding:$global-padding;
	margin:$global-margin;
}