.container {
	max-width:$global-width;
	margin:0 auto;
}

.row {
	width:100%;
	display:inline-block;

	@media (min-width:$grid-break-point){
		display:flex;
		flex-wrap:wrap;

		// optional no-wrap

		&--nowrap {
			flex-wrap:nowrap;
		}

		// handle horizontal alignment

		&--center {
			justify-content:center;
		}

		&--justified {
			justify-content:space-between;
		}

		&--spaced {
			justify-content:space-around;
		}

		&--end {
			justify-content:flex-end;
		}

		// handle vertical alignment

		&--middle {
			align-items:center;
		}

		&--bottom {
			align-items:flex-end;
		}

		&--top {
			align-items:flex-start;
		}		

	}
}

.column {
	padding-left:$global-padding/2;
	padding-right:$global-padding/2;
	margin:0 auto;

	@media (min-width:$grid-break-point){
		flex-basis:auto;

		&--10 {
			flex-basis:10%;
			max-width:10%;
		}

		&--20 {
			flex-basis:20%;
			max-width:20%;
		}

		&--25 {
			flex-basis:25%;
			max-width:25%;
		}

		&--33 {
			flex-basis:33.34%;
			max-width:33.34%;
		}			

		&--50 {
			flex-basis:50%;
			max-width:50%;
		}

		&--66 {
			flex-basis:66.66%;
			max-width:66.66%;
		}		

		&--expand {
			flex-grow:1;
			max-width:100%;
		}

	}
}

// Source ordering
@for $i from 1 through 25 {
  .order-#{$i} {
    flex-order:#{$i};
  }
}


// content

.content {
	padding:$global-padding;
	margin:$global-margin;
}