// Global


// Typography


// Colour Scheme

$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

// Grid

$grid-break-point: 768px; // this is the width at which you want the fexbox grid to kick in - below this width will be single column