.container {
	max-width:$global-width;
	margin:0 auto;
}

.row {
	display:block;

	@media (min-width:$grid-break-point){
		display:flex;
		flex-wrap:wrap;

		// optional no-wrap

		&--nowrap {
			flex-wrap:nowrap;
		}

		// handle horizontal alignment

		&--center {
			justify-content:center;
		}

		&--justified {
			justify-content:space-between;
		}

		&--spaced {
			justify-content:space-around;
		}

		&--end {
			justify-content:flex-end;
		}

		// handle vertical alignment

		&--middle {
			align-items:center;
		}

		&--bottom {
			align-items:flex-end;
		}

		&--top {
			align-items:flex-start;
		}		

	}
}

.column {
	flex-basis: 100%;

	@media (min-width:$grid-break-point){
		flex:1;

		&--20 {
			flex: 2;
		}

		&--25 {
			flex: 2.5;
		}

		&--50 {
			flex: 5;
		}

	}
}

// Source ordering
@for $i from 1 through 25 {
  .order-#{$i} {
    flex-order:#{$i};
  }
}