[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
	height:$input-height;
	width:100%;
	border:1px solid $input-border-color;
	padding:10px;

	&:hover {
		border-color:darken($input-border-color, 20%);
	}

	&:focus {
		border-color:$input-focus-border-color;
		color:$input-focus-color;
		outline:none;
	}
}